<h1>Wellness#allergies</h1>
<p>Find me in app/views/wellness/allergies.html.erb</p>
<body style="background-color:#6633FF;"> 
<h2> The graph below will show you how much of your allergen is present in the air today.</h2>

<div style="font-family:verdana;padding:300px;border-radius:1px;border:10px solid red;">
	
</div>

</body>
