<h1>Wellness#diabetes</h1>
<p>Find me in app/views/wellness/diabetes.html.erb</p>

<body style="background-color:#6633FF;"> 
<h2> The graph below will show you your blood pressure readings from the past month.</h2>

<div style="font-family:verdana;padding:300px;border-radius:1px;border:10px solid gold;">
	
</div>
</body>
