<h1>Wellness#sleep</h1>
<p>Find me in app/views/wellness/sleep.html.erb</p>

<body style="background-color: 	#AFEEEE;">
	<h2 style="text-align:center;">Sleep</h2>
	<p style="test-align:left;">This graph shows how much sleep on average you get per week. Stay well rested!</p>
	<div style="font-family:Arial, Helvetica, sans-serif; 
	padding:300px;border-radius:20px;border:15px solid #191970;">
	
</body>
