<h1>Nutrition#calorie_counter</h1>
<p>Find me in app/views/nutrition/calorie_counter.html.erb</p>
<body style="background-color:#6633FF;"> 
<h2> The graph below will show you how many calories you have consumed over the past week.</h2>

<div style="font-family:verdana;padding:300px;border-radius:1px;border:10px solid pink;">
	
</div>
</body>
