<h1>Nutrition#weight</h1>
<p>Find me in app/views/nutrition/weight.html.erb</p>
<body style="background-color:#6633FF;"> 
<h2> The graph below will show you how your wait has changed over the past month.</h2>

<div style="font-family:verdana;padding:300px;border-radius:1px;border:10px solid silver;">
	
</div>
</body>
