<br />

<%= form_for :leisure, url: welcome_create_path do |f| %>
<p>
  <%= f.label :tv_time %>
  <br>
  <%= f.number_field :tv_time %>
</p>

<p>
  <%= f.label :pc_time %>
  <br>
  <%= f.number_field :pc_time %>
</p>

<p>
  <input type="submit" />
</p>
<% end %>

<br />

<%= form_for :sport, url: welcome_create_path do |f| %>
<p>
  <%= f.label :sport_name %>
  <br>
  <%= f.text_field :sport_name %>
</p>

<p>
  <%= f.label :time %>
  <br>
  <%= f.number_field :time %>
</p>

<p>
  <input type="submit" />
</p>
<% end %>

