<h1>Activity#exercise_level</h1>
<p>
  Find me in app/views/activity/exercise_level.html.erb
</p>
<body style="background-color:#DAA520;">
  <h2 style="text-align:center;">Exercise and Fitness</h2>
  <p style="test-align:left;">
    This graph shows your exercise progress through out the week. Stay Healthy!
  </p>
  <div style="font-family:Arial, Helvetica, sans-serif;
  padding:300px;border-radius:20px;border:15px solid #1E90FF;">
    <p>
<% @sports.each do |sport| %>
      <strong>Sport name:</strong>
      <%= sport.sport_name %>
      <%= sport.time %>
    </p>
    <%end%>
</body>
