<head>
<style>
h2{text-align:center;}

</style>
</head>
<h1>Activity#tv_computer</h1>


<p>Find me in app/views/activity/tv_computer.html.erb</p>

<body style="background-color:#6633FF;"> 
	<p>Welcome User. Below you will see the graph of how many hours you have spent in front of a T.V. or Computer Screen.</p>
	
</body>

<h2  >Graph of your recent activity</h2>

<div style="font-family:verdana;padding:300px;border-radius:1px;border:10px solid #EE872A;">
	
</div>