/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 */
.wrap {/* This fills in the schedule page to bottom! */
	width: 91%;
	margin: 0 auto;
	height: 100%;
	margin-bottom: 0.01em;
	margin-top: 3em;
	text-indent: 2em;
	overflow-x: hidden;
	margin-bottom: 5em;
	z-index: 1;
}