<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <%= stylesheet_link_tag  'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Codefest Webapp</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "Home", welcome_index_path %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @activity%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% @activity_sub.each_index do |i| %>
                <li>
                  <%= link_to @activity_sub[i], @activity_urls[i] %>
                </li>
                <% end %> <!-- loop end -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @wellness%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% @wellness_sub.each_index do |i| %>
                <li>
                  <%= link_to @wellness_sub[i], @wellness_urls[i] %>
                </li>
                <% end %> <!-- loop end -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @nutrition%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% @nutrition_sub.each_index do |i| %>
                <li>
                  <%= link_to @nutrition_sub[i], @nutrition_urls[i] %>
                </li>
                <% end %> <!-- loop end -->
              </ul>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if current_user %>
              <a href="../navbar/"><%= current_user.name %>'s Profile</a>
              <% else %>
              <%end%>
            </li>

            <li>
              <% if current_user %>
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
              <% else %>
              <%= link_to image_tag("Google_login/Red-signin_Long_base_20dp.png", :size => "183x37"), "/auth/google_oauth2", id: "sign_in", style:"padding-bottom:0; padding-top:5px;" %>
              <% end %>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <!-- /container -->
      <div class="wrap">
        <%= yield %>
      </div>
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
